<h1>Index</h1>

<h2>Welcome, <%= current_user.username %></h2>
<p>ToDo: </p>


<ul>
  <%@tasks.each do |task|%>
    <li><a href="/tasks/<%=task.id%>">
    <%=task.content%></a></li>
    <%end%>
</ul>
<br/>
<p>Completed:</p>
  <%@completed.each do |task|%>
    <li><a href="/tasks/<%=task.id%>">
    <%=task.content%></a></li>
    <%end%>
<ul>

</ul>
<br/>
<button onclick="window.location.href='/tasks/new';">New Task</button>
<br/>
<button onclick="window.location.href='/logout';">Log Out</button>
